@import "tailwindcss";

@theme {
  --color-primary: #1d1d1d;

  --font-poppins: "Poppins", sans-serif;
}

.glossy-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at top,
    rgba(255,255,255,0.08),
    transparent 60%
  );
  pointer-events: none;
}